body { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

input[type=text], select, textarea { 

  width: 50%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

#button {
    background-color: rgb(238, 117, 17);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 

.container {
    border-radius: 5px;
    padding: 15px;
    background-color: aquamarine;
}

h1 {
    text-align: center;
    padding: 15px;
    color: white;

}

ul {
    margin: 0;
    padding:5px;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #f44336;
    text-decoration: line-through;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover {
    background-color: #f44336;
    color: white;
}

#primaryform {
    text-align: center;
}